@import "tailwindcss";
@plugin "daisyui" {
  themes: mytheme --default

}
@plugin "daisyui/theme" {
  name: "mytheme";

  --color-primary: #D4AF37;
  --color-primary-content: #000000;

  --color-secondary: #1E40AF;
  --color-secondary-content: #ffffff;

  --color-accent: #10B981;
  --color-accent-content: #ffffff;

  --color-neutral: #1F2937;
  --color-base-100: #F9FAFB;
}


